<div class="container__pokemon-card {{pokemon.types[0]}}">
  <div class="container-number-type__pokemon-card">
    <p>#{{pokemon.pokedexNumber | number: '1.0-0' }}</p>
    <div class="container-types__pokemon-card">
      <div *ngFor="let type of pokemon.types" class="container-type__pokemon-card">
        <app-icon-type [type]="type"></app-icon-type>
      </div>
    </div>
  </div>
  <div class="pokemon-img__pokemon-card">
    <img src="{{pokemon.image}}" alt="">
  </div>
  <p class="pokemon-name__pokemon-card">{{pokemon.name}}</p>
</div>
