.container__pokemon-card{
  width: 180px;
  height: 230px;
  border-radius: 30px;
  font-weight: bold;

  margin: 0 10px 20px 10px;
  transition: 200ms all;
}

.container__pokemon-card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.container-number-type__pokemon-card{
  margin: auto;
  margin-top: 10px;
  width: 160px;
  height:35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-types__pokemon-card{
  display: flex;
  width: 80px;
  justify-content: flex-end;
}

.container-type__pokemon-card{
  width:25px;
  height:25px;
  margin-left: 10px;
}

.pokemon-img__pokemon-card{
  margin: auto;
  margin-top: 0;
  width:150px;
  height: 150px;
}

.pokemon-img__pokemon-card img{
  width:100%;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(65, 65, 65));
  filter: drop-shadow(5px 5px 5px rgb(65, 65, 65));
}

.pokemon-name__pokemon-card{
  text-align: center;
  margin-top: 10px;
}
