.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-bar{
  width:50%;
  height:10px;
  border: 5px solid;
  border-radius: 20px;
}

.stat-internal-bar{
  height: 100%;
}

.stat-name{
  width: 35%;
  font-weight: bold;
}

.stat-value{
  font-weight: bold;
}

